.App {
  text-align: center;
}
.block{
  background: #f1f1f1;
  border:1px solid #ccddff;
  margin-bottom:15px;
  box-shadow: 3px 3px 3px #b3ccff;
}
.text-bigger{
  font-size: 22px;
}
.text-biggest{
  font-size: 28px;
  color:#ffa500;
}
.margin{
  margin-top: 20px;
  margin-bottom: 20px;
}
.new-movie{
  background: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  border:1px solid #ccddff;
  box-shadow: 3px 3px 3px #b3ccff;
}
.search-box-1, .search-box-2{
  margin-top: 30px;
  margin-bottom: 20px;
}
.search-box-1, .search-box-2 {
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('./img/searchicon.png');
  background-size: 30px 30px;
  background-position: 8px 8px;
  background-repeat: no-repeat;
  padding: 10px 20px 10px 50px;
  position: relative;
  bottom: 5px;
}
@media(max-width:768px){
  .search-box-1{
    width:90%;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .search-box-2{
    width:90%;
    margin-top: 10px;
  }
  span.text-biggest{
    display: block;
  }
  .search-box-1.margin-right{
    margin-right: 0;
  }
}
.margin-right{
  margin-right:20px;
}
.margin-left{
  margin-left:30px;
}

.update-block{
  border:1px solid gray;
  margin: 30px;
  padding: 30px;
  background: #e6fff2;
}
span.back-link{
  text-decoration: underline;
  cursor: pointer;
}
.bg-orangish{
  background: #ffdb4d;
}
h1.bg-orangish{
  padding: 10px;
}
input:required, textarea:required {
    box-shadow:none;
}
span.movie-link{
  cursor:pointer;
}
.hid {
  display: none;
}
